extends html

snippet <= "loud code block" !b
<%=${1} %>${2}
endsnippet

snippet < "silent code block" !b
<% ${1} %>${2}
endsnippet

snippet <% "silent code block" !b
<% ${1} %>${2}
endsnippet

snippet t "translation" iw
t('${1}')${2}
endsnippet
# vim:ft=snippets:
