snippet do "do end" 
do
  ${0}
end
endsnippet

snippet def "method def"
def ${1:method} ${2:params}
  $0
end
endsnippet

snippet class "Ruby Class"
class ${1:ClassName}
  ${2:def initialize()
     $3
  end}
end
endsnippet

snippet test "test"
test "${1:test name}" do
  $0
end
endsnippet
